<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Oxygen.Core.Runtime" value="https://pkgs.dev.azure.com/atgoxygen/_packaging/Oxygen.Core.Runtime/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <Oxygen.Core.Runtime>
      <add key="Username" value="%USER_VARIABLE%" />      
      <add key="ClearTextPassword" value="vmry4apmsqa5hv6apmpeja7m3e2n62uu2vmjflqmba54ucqea25a" />
    </Oxygen.Core.Runtime>
  </packageSourceCredentials>
 </configuration>