<div class="row">
    <div class="col-md-8 col-sm-6">
        <h4>Select room</h4>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Room</mat-label>
            <mat-select (selectionChange)="roomSelected($event)" >
                <mat-option *ngFor="let room of rooms" [value]="room">
                    {{displayRoomText(room)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-6 align-items-end">
        <div class="row">
            <button mat-raised-button color="primary" class="mb-2 mt-3" style="width: 100%;" (click)="addRoom()">Add room</button>
        </div>
        <div class="row">
            <button mat-raised-button color="warn" [disabled]="!showTimeSheet" class="mb-4" style="width: 100%;" (click)="roomDelete()">Delete room</button>
        </div>
    </div>
</div>
<app-time-sheet *ngIf="showTimeSheet" [room]='selectedRoom'></app-time-sheet>
